.git
.github
dataset-prep
docs
generative
inferencing
modeling
preprocessing
video-collector
*.md
*.yml
requirements.txt
show-50-signs/README.md
web_app/Dockerfile*
web_app/environment-*.yml
web_app/requirements-docker.txt
web_app/README.md
__pycache__
*.pyc
